body {
  font-family: "Roboto", sans-serif;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h3,
h2,
h1,
p {
  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --title-text-color: #212121;
  --acsent-color: #2196f3;
  --secondary-color: #757575;
  --secondary-acsent-color: #ffffff;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 3;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    background: var(--secondary-acsent-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 796px;
    padding: 48px 40px;
    background: var(--secondary-acsent-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    padding: 0;
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-button:hover, .mobile-menu__close-button:focus {
    outline: none;
    fill: var(--acsent-color);
  }
  .mobile-menu__modal-close {
    width: 40px;
    height: 40px;
  }
  .mobile-menu__item {
    display: flex;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__link:focus, .mobile-menu__link:hover {
    outline: none;
    color: var(--acsent-color);
  }
  .mobile-menu__contacts {
    display: block;
  }
  .mobile-menu__contacts-list {
    margin-bottom: 64px;
  }
  .mobile-menu__contacts-item {
    margin-bottom: 32px;
  }
  .mobile-menu__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--acsent-color);
  }
  .mobile-menu__mail {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
  .mobile-menu__social-list {
    display: flex;
    align-content: flex-start;
  }
  .mobile-menu__social-item {
    outline-color: none;
  }
  .mobile-menu__social-item:not(:last-child) {
    margin-right: 20px;
  }
  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--acsent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu,
  .header__menu {
    display: none;
  }
}

.modal-button {
  margin: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-acsent-color);
  border: none;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-acsent-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--acsent-color);
}

.profession-social-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .profession-social-icon,
.social__link:focus .profession-social-icon {
  fill: var(--secondary-acsent-color);
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #b6b8af;
}

.contacts-down-social {
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-acsent-color);
}

.contacts-down-social-list {
  display: flex;
}

.contacts-down-social-icon-item:not(:first-child) {
  margin-left: 10px;
}

.contacts-down-social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--secondary-acsent-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-down-social-icon-link:hover, .contacts-down-social-icon-link:focus {
  background-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-acsent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  height: 30px;
  width: 30px;
  background: var(--secondary-acsent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover, .modal-close-button:focus {
  outline: none;
  fill: var(--acsent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-head {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var --title-text-color;
}

.modal-contacts-fild {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-policy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.modal-contacts-form {
  display: flex;
  flex-direction: column;
}

.modal-text-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-text-input:focus {
  outline: none;
  border-color: var(--acsent-color);
}

.modal-contacts-fild-icon {
  position: relative;
  display: block;
  margin-top: 4px;
  border: none;
}

.modal-svg {
  outline: none;
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-input:focus + .modal-svg {
  fill: var(--acsent-color);
}

.modal-contacts-aria {
  display: block;
  padding: 12px 16px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-contacts-aria:focus {
  outline: none;
  border-color: var(--acsent-color);
}

.modal-contacts-aria::placeholder {
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-policy-a {
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--acsent-color);
}

.modal-checkbox-icon {
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color, background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:focus ~ .modal-checkbox-icon {
  border-color: var(--acsent-color);
}

.modal-checkbox:checked ~ .modal-checkbox-icon {
  background-color: var(--acsent-color);
  border-color: var(--acsent-color);
  background-image: url("../images/Vector.svg");
  background-size: contain;
}

.footer-subscription-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
}

.footer-subscription {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-acsent-color);
}

.footer-subscription-text-input {
  outline: none;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}

.footer-subscription-text-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-button {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--acsent-color);
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .footer-subscription-form {
    display: block;
    margin: 0 auto;
  }
  .footer-subscription-text-input {
    margin-bottom: 20px;
  }
  .footer__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .footer__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-subscription-form {
    display: block;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscription-form {
    display: block;
    margin-left: 93px;
  }
  .footer-subscription-fild-main {
    display: flex;
  }
}

.list .link.current {
  color: var(--acsent-color);
}

.contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--acsent-color);
}

.upline__icon {
  margin: 0 auto;
  margin-right: 10px;
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .upline__icon,
.contacts__link:focus .upline__icon {
  fill: var(--acsent-color);
}

.nav__item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color, filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__item:hover, .nav__item:focus {
  color: var(--acsent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(30px);
  width: 100%;
  height: 4px;
  background: var(--acsent-color);
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .nav__list,
  .nav__item {
    display: none;
  }
  .logo__upline {
    position: relative;
  }
  .header {
    border-bottom: 1px solid #ececec;
  }
  .header__container {
    padding-top: 15px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__menu {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .header__mobal-menu {
    display: block;
    height: 40px;
    width: 40px;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__menu:focus > .header__mobal-menu,
  .header__menu:hover > .header__mobal-menu {
    fill: var(--acsent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container,
  .nav {
    display: flex;
    align-items: center;
  }
  .nav__list {
    display: flex;
    margin-left: 88px;
  }
  .nav__item {
    display: block;
  }
  .contacts__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0 auto;
  }
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
  .header__container {
    justify-content: space-between;
  }
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .upline__icon {
    margin-right: 8px;
    align-items: center;
  }
  .upline__env {
    height: 10px;
    width: 14px;
  }
  .upline__tel {
    height: 14px;
    width: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container,
  .nav {
    display: flex;
    align-items: center;
  }
  .nav__list {
    display: flex;
    margin-left: 93px;
  }
  .nav__item {
    display: block;
  }
  .contacts__list {
    display: flex;
    margin-left: auto;
  }
  .contacts__list .contacts__item + .contacts__item {
    margin-left: 50px;
  }
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
  .upline__env {
    height: 12px;
    width: 16px;
  }
  .upline__tel {
    height: 16px;
    width: 10px;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .upline__icon {
    margin-right: 10px;
    align-items: center;
  }
}

.logo {
  color: var(--acsent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  cursor: pointer;
}

.logo__upline {
  color: #000000;
}

.logo__down {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--acsent-color);
}

.logo__next {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--secondary-acsent-color);
}

@media screen and (max-width: 767px) {
  .nav__list,
  .contacts__list {
    display: none;
  }
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
  __down {
    font-size: 24px;
    line-height: 1.17;
  }
  __down {
    font-size: 24px;
    line-height: 1.17;
  }
  __next {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
  __down {
    font-size: 24px;
    line-height: 1.17;
  }
  __next {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  __down {
    font-size: 26px;
    line-height: 1.19;
  }
  __next {
    font-size: 26px;
    line-height: 1.19;
  }
}

.hero {
  background: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  display: block;
  text-align: center;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-acsent-color);
}

.hero__button {
  display: inline-block;
  text-align: center;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-acsent-color);
  background-color: var(--acsent-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-acsent-color);
  background-color: var(--acsent-color);
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
    min-width: 480px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fill/header_mob.jpg");
  }
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fill/header_mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fill/header_tabl.jpg");
  }
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fill/header_tabl@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fill/desktop.jpg");
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fill/desktop@2x.jpg");
  }
}

.futures__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.futures__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
}

.futures__box {
  border-radius: 4px;
  background: #f5f4fa;
}

.specificsh__icon {
  content: "";
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .futures__list {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .futures__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .futures__text {
    text-align: left;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .futures {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .futures__list {
    display: flex;
    flex-wrap: wrap;
  }
  .futures__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .futures__item:nth-child(n + 3) {
    margin-top: 30px;
  }
  .futures__box {
    display: block;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  .futures__title {
    margin-bottom: 10px;
  }
  .futures__text {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .futures {
    padding-top: 94px;
  }
  .futures__list {
    display: flex;
  }
  .futures__list.futures__item {
    flex-wrap: wrap;
  }
  .futures__item:not(:first-child) {
    margin-left: 30px;
  }
  .futures__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }
  .futures__title {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.working {
  padding-top: 94px;
  padding-bottom: 94px;
}

.working__list {
  display: flex;
}

.working__list .working__item:not(:first-child) {
  margin-left: 30px;
}

.working__list > img {
  display: block;
  background: #f5f4fa;
}

.working-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.working__overlay {
  position: relative;
  display: flex;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-acsent-color);
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .working {
    display: none;
  }
}

.team {
  background: #f5f4fa;
}

.team__title {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0 auto;
}

.team__item {
  background-color: var(--secondary-acsent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.team__profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--secondary-color);
}

@media screen and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .team__box {
    padding: 30px 122px 24px;
  }
  .team__imag {
    display: block;
    text-align: center;
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
  .team__box {
    padding: 30px 74px 24px;
  }
  .team__imag {
    width: 354px;
    height: 374px;
  }
  .team__list {
    display: flex;
    width: 768px;
    flex-wrap: wrap;
  }
  .team__list .team__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team__list .team__item:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .team__box {
    padding: 30px 32px;
  }
  .team__name {
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
  }
  .team__imag {
    width: 270px;
    height: 260px;
  }
  .team__list {
    display: flex;
  }
  .team__list .team__item {
    flex-wrap: nowrap;
  }
  .team__list .team__item:not(:first-child) {
    margin-left: 30px;
  }
}

.group {
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.group__list {
  display: flex;
}

.group__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.group__link:hover, .group__link:focus {
  border: 1px solid #2196f3;
}

.group__logo {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.group__link:hover .group__logo,
.group__link:focus .group__logo {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .group {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
  }
  .group__link {
    width: 210px;
  }
  .group__list {
    flex-wrap: wrap;
  }
  .group__list .group__item:nth-child(2n) {
    margin-left: 30px;
  }
  .group__list .group__item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .group {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
  }
  .group__link {
    width: 226px;
  }
  .group__list {
    flex-wrap: wrap;
  }
  .group__list .group__item:nth-child(3n) {
    margin-left: 30px;
  }
  .group__list .group__item:nth-child(2) {
    margin-left: 30px;
  }
  .group__list .group__item:nth-child(5) {
    margin-left: 30px;
  }
  .group__list .group__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .group {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
  }
  .group__link {
    width: 170px;
  }
  .group__list .group__item:not(:first-child) {
    margin-left: 30px;
  }
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 0;
  padding: 0;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-acsent-color);
  font-style: normal;
}

.mail {
  margin-bottom: 9px;
}

.contacts-down {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-down:hover, .contacts-down:focus {
  text-decoration: none;
  color: var(--acsent-color);
}

@media screen and (max-width: 767px) {
  .footer__main,
  .down-social-icon {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .footer__main > a {
    padding-bottom: 20px;
  }
  .down-social-icon {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contacts-down-social,
  .contacts-down-social-list {
    align-items: center;
    justify-content: center;
  }
  .footer-subscription-fild-main {
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer-subscription-fild-main:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contacts {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer__outline {
    padding: 0;
  }
  .footer__outline > a {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .footer__main {
    display: block;
    text-align: center;
  }
  .footer-subscription-fild-main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .footer-subscription-fild {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__outline {
    padding: 0;
  }
  .footer__outline > a {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer__main {
    display: flex;
    align-items: baseline;
  }
  .down-social-icon {
    margin-left: 70px;
  }
}

.filters-page {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
}

.portfolio__filters {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filters:hover, .portfolio__filters:focus {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-acsent-color);
  background-color: var(--acsent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projekts__overlay {
  position: relative;
  overflow: hidden;
}

.projekts__describe {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--secondary-acsent-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projekts__link:hover .projekts__describe,
.projekts__link:focus .projekts__describe {
  transform: translateY(0%);
}

.projekts__link:hover,
.projekts__link:focus {
  display: block;
  background-color: var(--secondary-acsent-color);
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.kindofworks {
  background-color: var(--secondary-acsent-color);
  border: 1px solid #eeeeee;
  border-top: none;
}

.kindofworks__images {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.kindofworks__name {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.projekts__picture {
  height: 294px;
}

@media screen and (max-width: 767px) {
  .portfolio-page {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .projekts__picture {
    width: 450px;
  }
  .our-work {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .projekts__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .filters-page {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding: 0;
  }
  .portfolio__item:nth-child(2) {
    margin-left: 8px;
  }
  .portfolio__item:nth-child(3) {
    margin-left: 8px;
  }
  .portfolio__item:nth-child(5) {
    margin-left: 8px;
  }
  .portfolio__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
  .kind-works {
    padding: 20px 24px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .projekts__picture {
    width: 354px;
  }
  .kind-works {
    padding: 20px 24px;
  }
  .portfolio-page {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .projekts {
    display: flex;
    flex-wrap: wrap;
  }
  .projekts__item:nth-child(2n) {
    margin-left: 30px;
  }
  .projekts__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .projekts__item {
    width: 354px;
  }
  .portfolio__item {
    flex-wrap: wrap;
  }
  .filters-page {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0;
  }
  .filters-page li:not(:first-child) {
    margin-left: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .projekts__picture {
    width: 370px;
  }
  .projekts {
    display: flex;
    flex-wrap: wrap;
  }
  .projekts__item {
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1 px solid #eeeeee;
    background-color: var(--secondary-acsent-color);
  }
  .projekts__item:nth-child(3n) {
    margin-right: 0;
  }
  .projekts__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .projekts .portfolio__item > img {
    display: block;
  }
  .portfolio-page {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .filters-page {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0;
  }
  .filters-page li:not(:first-child) {
    margin-left: 8px;
  }
  .kind-works {
    padding: 20px 24px;
  }
}
/*# sourceMappingURL=main.css.map */